<h1> Products Show </h1>
  <h2> Name: <%= @product.name %></h2>
  <h4> Price: <%= @product.price %></h4>
  <p> Description: <%= @product.description %></p>
  <p> Inventory: <%= @product.inventory %></p>
  <p> Supplier ID: <%= @product.supplier_id %></p>